/********* GENERAL ********/

html {
  background-color: rgb(83,83,83);
 }

h1{
  font-size:32px;
	font-family:"courier-std", courier, monospace;
	font-weight: bold;
}

body {
  background-color: rgb(198,198,198);
  color: black;
  text-align: center;
  box-sizing: border-box;
  max-width: 60.625rem;
  margin-left: auto;
  margin-right: auto;
}

body>header{
	background-color: rgb(83,83,83);
}

article{
  padding: 0 60px 60px 60px;
}

/********* HEADER NAV ********/
nav{
	display: flex;
  flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

nav>a {
	padding-top: 0px;
	color:#29ff4a;
}

nav>a:not(:last-child)::after {
	content: url(resources/_gen/images/candycorn.gif);
	display: inline-block;
	top: 5px;
	margin: 0px 10px 0px 10px;
	vertical-align: top;
}

/********* HOMESTUCK ********/

.homestuck {
	font-family:"courier-std", courier, monospace;
	font-weight: bold;
	margin: auto;
	max-width: 650px;
	background-color: rgb(239,239,239);
	text-align: center;
}

.homestuck p {
	text-align: center;
	color: black;
	font-size: 14px;
}

.next-page{
	font-size: 24px;
	text-align: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
  
}

.next-page>a{
	text-decoration: underline;
}

.log {

}

.log > p {
  margin: 0;
  text-align: left;
}
