/********* GENERAL ********/

html {
  background-color: rgb(83,83,83);
	padding: 0;
	margin: 0;
 }

h1{
  font-size:32px;
	font-family:"courier-std", courier, monospace;
	font-weight: bold;
  margin: 0;
  padding: 20px 0 0 0;
}

body {
  background-color: rgb(198,198,198);
  color: black;
  text-align: left;
  box-sizing: border-box;
  max-width: 55rem;
  margin: 0 auto 0 auto;
}

body>header{
	background-color: rgb(83,83,83);
}

article{
  padding: 0px 0px 20px 0;
}

.invisible{
	display: none;
}

/********* HEADER NAV ********/
nav{
	display: flex;
  flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

nav>a {
	margin : 2px 0;
	padding: 0px;
	color:#29ff4a;
}

nav>a:not(:last-child)::after {
	content: url(../resources/_gen/images/candycorn.gif);
	display: inline-block;
	top: 5px;
	margin: 0px 10px 0px 10px;
	vertical-align: top;
}

/********* HOMEPAGE ********/
#homepage h2, #homepage h1{
	text-align: center;
}

#homepage p {
	text-align: left;
	padding: 0 20px;
}

/********* HOMESTUCK ********/

.homestuck {
	font-family:"courier-std", courier, monospace;
	font-weight: bold;
	margin: auto;
	max-width: 650px;
	background-color: rgb(239,239,239);
	text-align: center;
}

.homestuck p {
	text-align: center;
	padding: 0 20px;
	color: black;
	font-size: 14px;
}

.next-page{
	font-size: 24px;
	text-align: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
  
}

.next-page>a{
	text-decoration: underline;
}

/********* LOG ********/

.log {

}

#logbox{
	margin: 20px;
	border: 1px dashed gray;
  padding: 1px;
}

#conversation{
	margin: 10px 26px;
	text-align: left;
}

.log p {
  margin: 0;
  text-align: left;
}
