<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "fr" }}">
<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<meta charset="utf-8">
{{ hugo.Generator }}
{{- if or .Description .Site.Params.description }}
<meta name="description" content="{{ .Description | default .Site.Params.description }}">
{{- end }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- A REMETTRE PLUS TARD JE SUPPOSE??
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ if .Site.Params.minimal }}minimal.css{{ else }}index.css{{ end }}">
-->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css" />
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" type="application/rss+xml" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="{{ .Site.Title }}">
{{- if or .Params.math .Site.Params.math }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}katex/katex.min.css">
<script defer src="{{ .Site.BaseURL }}katex/katex.min.js"></script>
<script defer src="{{ .Site.BaseURL }}katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body)"></script>
{{- end }}

<header>
  <nav>
  {{ if not (gt (len .Site.Menus) 1) }}
    <a href="{{ .Site.BaseURL }}" class="title">{{ .Site.Title }}</a>
	<!-- Mettre la banière ici I guess -->
  {{ end }}
  {{ range $menu, $items := .Site.Menus }}
    
	  {{ range $items }}
		<a href="{{ .URL }}">{{ .Name }}</a>
	  {{ end }}
    
  {{ end }}
  
  </nav>
</header>

{{- block "main" . }}{{- end }}

</html>
