{{ define "main" }}

<!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom_homepage.css" /> -->

<article id="homepage">
  <header>
	<h1>Traduction des Homestocards</h1>
  </header>
  <body>
	<div>
		<h2>Où suis-je?</h2>
		<p>	Bienvenue sur une nouvelle tentative de continuer la traduction FR d'Homestuck, une incroyable aventure relatant l'inspirante histoire de quatres jeunes souhaitant jouer à un jeu vidéo. Les conséquences sont importantes.</p>
		<p>	Le principe de cet nouvelle traduction est de pouvoir permettre à n'importe qui de participer de manière simple et ergonomique à la traduction! Pour plus d'informatino, visiter [TBA].</p>
		<p> Le terme 'Homestocard' peut vraisemblablement paraître assez rude et inutillement violent, certes. Cependant, la definition de tocard est principalement "Personne sans valeure"... Pour s'efforcer à traduire Homestuck en 2021 il faut être un tocard.</p>
	</div>
	<h2>Débuter la lecture</h2>
	<a href='./homestuck/1'><i>Une petite image qui envoie sur la lecture de Homestuck</i></a>
  </body>
</article>

{{ end }}