{{ define "main" }}

<article class="homestuck">
  <header>
    <h1>{{ .Params.titre }}</h1>
  </header>



  {{ $next := "" }}

  {{ with .File }}

    {{ $next = substr .Dir 10 }}
    {{ $next = trim $next "\\" }}
    {{ $next = trim $next "/" }}
    {{ $next = int $next }}
    {{ $next = add $next 1 }}
    {{ $next = print "homestuck/" $next }}

  {{ end }}

  {{ if and (isset .Params "type") (eq .Params.type "flash") }}
    <!-- Je dois afficher un flash, ou au moins autre chose qu'une image -->
    <iframe/> 
  {{ else }}
	{{ $i := 0 }}
	{{ $path := replace .File.Dir "\\" "/" }}
	{{ $contentPath := path.Join "content" $path}}
	{{ $files := readDir $contentPath }}
	{{ range $files }}
		{{if (not (eq $i 0))}}
			<img src="/{{ $path }}image{{$i}}.gif" />
		{{end}}
		{{ $i = add $i 1 }}
	{{end}}
  {{ end }}
  

  {{ if (isset .Params "type") }}
	{{if or (eq .Params.type "log") (eq .Params.type "flash&log")}}
		{{ partial "log.html" . }}
	{{ else }}
		{{ .Content }}
	{{ end }}
  {{ else }}
	{{ .Content }}
  {{ end }}


  {{ with .Page.GetPage $next }}

    <div class="next-page">
	  <span>></span>
	  <a href="{{ .Site.BaseURL}}{{ $next }}">{{ .Params.titre }}</a>
    </div>

  {{ end }}

</article>

{{ end }}
