
<div class="log">
	<div id="logbox">
		<button class="bouton" type="button">{{ .Params.logType }}</button>
		<div id="conversation" class="invisible">
			{{ .Content }}
		</div>
	</div>

  

  <script type="text/javascript"src="{{.Site.BaseURL}}js/format-log.js" ></script>
  <script type="text/javascript"src="{{.Site.BaseURL}}/characters.js" ></script>

</div>
